<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
    	<h3>Hi Gaurav,</h3>
    	<p>
    		A user tried to contact you. These are the details we have from the user.
    	</p>
    	<p>Please get back to him as soon as possible.</p>
    	<p>
    		<div>User Name : <b><%= @details['name'] %></b></div>
	    	<div>Email : <b><%= @details['email'] %></b></div>
	    	<div>Message : <b><%= @details['message'] %></b></div>
            <div>Contact : <b><%= @details['phone'] %></b></div>
    	</p>
    	<h5 style="margin: 30px 0px 0px">Yours Sincerely,</h5>
    	<h4 style="margin-top: 0px">
	    	<div>Web Head</div>
	    	<div>Surana Sanitations</div>
	    	<div>http://ssbathstudio.com</div>
	    	<a href="http://ssbathstudio.com" title=""><img src="http://ssbathstudio.com/assets/img/logo.png" alt="Surana Sanitations Logo"></a>
    	</h4>
	</body>
</html>