<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
    	<h2>Hi <%= @user['name'] %>,</h2>
    	<p>
    		Thank you for contacting <b>Surana Sanitations</b>!
    	</p>
    	<p>Our team members will contact you as soon as possible. If it's something urgent which can't wait then please give us a call @0891-2561380/2561643. We will be glad to assist you in any way possible.</p>
    	<p>
    		<div>We have attached our <b>Introduction Letter</b> with the mail.</div>
	    	<div>Do visit our <a href="http://ssbathstudio.com">website</a>. Feel free to share your experience.</div>
	    	<div>Our team will get back to you as soon as possible.</div>
    	</p>
    	<p>Thank you for your patience and cooperation!</p>
    	<h5 style="margin: 30px 0px 0px">Yours Sincerely,</h5>
    	<h4 style="margin-top: 0px">
	    	<div>Gaurav Surana</div>
	    	<div>Marketing Head</div>
	    	<div>Surana Sanitations</div>
	    	<div>http://ssbathstudio.com</div>
	    	<a href="http://ssbathstudio.com" title=""><img src="http://ssbathstudio.com/assets/img/logo.png" alt="Surana Sanitations Logo"></a>
    	</h4>
	</body>
</html>