<section id=about-us>
    <div class=container>
        <div class="row text-center header animate-in" data-anim-type=fade-in-up>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>About Us</h2>
                <hr />
            </div>
        </div>
        <div class="row animate-in text-left" data-anim-type=fade-in-up>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p><strong>Surana Sanitations</strong>, the house of tiles, sanitaryware and bathroom fittings. Established in 1983 and having an experience of over 33 years in this field, we have gained deep expertise on the products in this field and it has equipped us to understand the varying needs of different customers and service the same using products of utmost quality and high affordability. Our clients range from hotels, apartments, individual houses, theatres, industries and government departments like railways, naval, MES involved directly or indirectly with us.</p>
                <p>Thanks to Our Widespread Distribution and Supply Network that ensures prompt delivery of Products anywhere in India & enables us to Offer Highly Professional & Reliable Services at Competitive Prices.</p>
                <p>We judiciously combine the Flexibility & Responsiveness of a Small Company & Professionalism, Resourcefulness & Technological Support of a Large Company.</p>
                <p>We Deal with the leading & Trusted Brands in the Industry like Jaquar, CERA, Johnson, Nirali, Jayna, Prayag, Zoloto, Sintex, Parryware, Astral, Ashirvad, Sudhakar etc. Our Clientele includes Large, medium and small scale industries covering both public and private sectors.</p>
                <p>We have been able to secure the Trust of Our Clientele & Create Value for them by continuous Innovations & Upgradations. Our Aim is to provide Best Quality Products and Services to the Consumers and Manufacturers at the Best Prices in the Industry.</p>
                <p>Our firm is very conscious of quality with the habit of maintaining maximum standards of these products. Products offered by us are designed and developed by trusted and well established vendors. While procuring products from these vendors, we conduct stringent quality adherence tests professional quality inspectors working with us.</p>
                <p>To offer complete satisfaction to our clients, we provide solutions for plumbing and sanitations only after testing their functionality and certifying them for quality. Our business norms are structured to help the clients as well as vendors in understanding us better and making fair deals. Also giving best post sale service to make a fix on their request.</p>
            </div>
        </div>
    </div>
</section>