<section id=category-page>
    <div class=container>
        <div class="row text-center animate-in" data-anim-type=fade-in-up>
            <div class="hidden-xs hidden-sm col-md-4 col-lg-3 category-section">
                <h3>Categories</h3>
                <div class="categories"><a class="category" href=/swr-pipes-and-fittings>SWR Pipes & Fittings</a><a class="category" href=/hdpe-pipes-and-fittings>HPDE Pipes & Fittings</a><a class="category" href=/mirrors-and-cabinets>Mirrors & Cabinets</a><a class="category" href=/water-tank>Water Tank</a><a class="category" href=/ppr-pipes-and-fittings>PPR Pipes & Fittings</a><a class="category" href=/ptmt-fittings>PTMT Fittings</a><a class="category" href=/bathroom-fittings>Bathroom Fittings</a><a class="category" href=/bathroom-accessories>Bathroom Accessories</a><a class="category" href=/shower-enclosures>Shower Enclosures</a><a class="category" href=/shower-panels>Shower Panels</a><a class="category" href=/water-heater>Water Heater</a><a class="category" href=/sanitaryware>Sanitaryware</a><a class="category" href=/kitchen-sinks>Kitchen Sinks</a><a class="category" href=/bathtubs>Bathtubs</a><a class="category" href=/tiles>Tiles</a><a class="category" href=/brass-valves-and-fittings>Brass Valves & Fittings</a><a class="category" href=/ci-manhole-covers>C.I Manhole Covers</a><a class="category" href=/hand-dryer>Hand Dryer</a><a class="category" href=/pvc-pipes-and-fittings>PVC Pipes & Fittings</a><a class="category" href=/cpvc-pipes-and-fittings>CPVC Pipes & Fittings</a><a class="category" href=/upvc-pipes-and-fittings>UPVC Pipes & Fittings</a><a class="category" href=/gi-pipes-and-fittings>G.I Pipes & Fittings</a></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 text-left">
                <h1 class="text-center">C.I Pipes & Fittings</h1>
                <hr />
                <p itemprop="brand" itemscope itemtype="http://schema.org/brand"><b><a href="/">Surana Sanitations</a></b> is the leading <b>C.I Pipes & Fittings Dealers</b> in <b>Visakhapatnam</b>. These are sourced from leading manufacturers who have with them extensive experience in offering these varieties of pipes & fittings. The range we deal in under C.I Pipes & Fittings category include <b><span itemprop="name">P.I.C</span> C.I Pipes & Fittings</b>, <b><span itemprop="name">SON</span> C.I Pipes & Fittings</b>. We majorly deal in <b>Visakhapatnam</b> based enquiry.</p>
                <p>Produced in 50mm, 75mm, 100mm and 150mm nominal diameter.
                    <br>The Pipes are manufactured in the standard length of 1.8M, cut pipes are also available Pipes and Fittings are coated internally and externally by Black Bitumen Paint.</p>
                <p>For C.I Pipes & Fittings in Visakhapatnam contact:
                    <br><span itemprop="member"><b>Gaurav Surana</b>(Sales Head)</span>
                    <br><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">28-9-32</span>, <span itemprop="addressLocality">Suryabagh</span>, Opp. Port Hotel, <span itemprop="addressRegion">Visakhapatnam</span>, India-<span itemprop="postalCode">530003</span>
                    <br>Phone: <a href="tel:+91-9849156450" itemprop="telephone" content="+919849156450">+91-9849156450</a>
                    <br>Mail: <a href="mailto:&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;"><span itemprop="email">&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</span></a></span>
                </p>
            </div>
        </div>
    </div>
</section>