<section id=home>
    <div class=container>
        <div class=row>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div class="main-section">
                    <div class="item active" itemscope itemtype="http://schema.org/Store">
                        <a href="/" itemprop="url"><img class="logo" width="84" height="84" src=/assets/logo.png alt="Surana Sanitations" itemprop="logo"></a>
                        <div>
                            <h1><span itemprop="name">Surana Sanitations</span></h1></div>
                            <h3 itemscope itemtype="http://schema.org/Store">
                                <div itemscope itemtype="http://schema.org/description">
                                    <span itemprop="disambiguatingDescription">House of Tiles, Sanitaryware and Plumbing Items.</span>
                                </div>
                            </h3>
                            <a href=/#products class="btn button-custom btn-custom-one see-list">See Product List </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=brands>
    <div class=container>
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type=fade-in-up>
                <h2><strong>BRANDS</strong> IN STORE</h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div itemscope itemtype="http://schema.org/Store">
            <div id=clients class="owl-carousel owl-theme">
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://astralpipes.com/" rel="nofollow" target="_blank" title="Astral Pipes & Fittings" itemprop="url"><img src=/assets/company-logos/astral.jpg alt=Astral class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.cera-india.com/default.aspx" rel="nofollow" title="CERA Sanitaryware & Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/cera.jpg alt=Cera class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.jaquar.com/" rel="nofollow" title="Jaquar Sanitaryware & Bath Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/jaquar.jpg alt=Jaquar class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.kisangroup.com/" rel="nofollow" title="Kisan Pipes & Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/kisan.jpg alt=Kisan class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://niralisinks.com/" rel="nofollow" title="Nirali Sinks" target="_blank" itemprop="url"><img src=/assets/company-logos/nirali.jpg alt=Nirali class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://prayagindia.com/" rel="nofollow" title="Prayag PTMT & CP Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/prayag.jpg alt=Prayag class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://sudhakarpipes.com/" rel="nofollow" title="Sudhakar Pipes & Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/sudhakar.jpg alt=Sudhakar class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://swastikaenterprises.com/" rel="nofollow" target="_blank" title="Swastika Manhole Covers" itemprop="url"><img src=/assets/company-logos/swastika.jpg alt=Swastika class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://ardexendura.com/" rel="nofollow" title="Ardex Grout Powder" target="_blank" itemprop="url"><img src=/assets/company-logos/ardex.jpg alt=Ardex class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://ashirvad.com/" rel="nofollow" title="Ashirvad Pipes & Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/ashirvad.jpg alt=Ashirvad class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.jaynasinks.com/" rel="nofollow" title="Jayna Sinks" target="_blank" itemprop="url"><img src=/assets/company-logos/jayna.jpg alt=Jayna class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.johnson-tiles.com/" title="Johnson Tiles" rel="nofollow" target="_blank" itemprop="url"><img src=/assets/company-logos/johnson.jpg alt=Johnson class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.laticreteindia.com/" rel="nofollow" title="Laticrete Cement" target="_blank" itemprop="url"><img src=/assets/company-logos/laticrete.jpg alt=Laticrete class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.zolotovalves.com/" rel="nofollow" title="Zoloto Valves" target="_blank" itemprop="url"><img src=/assets/company-logos/zoloto.jpg alt=Zoloto class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.parryware.in/" title="Parryware Sanitaryware" rel="nofollow" target="_blank" itemprop="url"><img src=/assets/company-logos/parryware.jpg alt=Parryware class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.polytuf.co.in/" rel="nofollow" title="Polytuf PTMT & Bath Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/polytuf.jpg alt=Polytuf class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.princepipes.com/" rel="nofollow" title="Prince Pipes & Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/prince.jpg alt=Prince class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.seikobathfittings.com/" rel="nofollow" title="Seiko Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/seiko.jpg alt=Seiko class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.shaktibath.com/" rel="nofollow" title="Shakti PTMT & CP Fittings" target="_blank" itemprop="url"><img src=/assets/company-logos/shakti.jpg alt=Shakti class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.sintex-plastics.com/" rel="nofollow" title="Sintex Tanks" target="_blank" itemprop="url"><img src=/assets/company-logos/sintex.jpg alt=Sintex class="company_logo" itemprop="logo"></a>
                </div>
                <div class=item itemprop="brand" itemscope itemtype="http://schema.org/brand">
                    <a href="http://www.xen.co.in/" rel="nofollow" title="Xen Accessories" target="_blank" itemprop="url"><img src=/assets/company-logos/xen.jpg alt=Xen class="company_logo" itemprop="logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=mission>
    <div class=container>
        <div class="row header">
            <div class="col-md-12 text-center">
                <h2>Our <strong>MISSION AND VISION</strong></h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <p>To be the leading supplier and traders in supply of complete Housing Constuction products(<b>Tiles</b>, <b>Sanitary</b>, <b>Bathroom Fittings</b> & <b>Accessories</b>) all over <b>Andhra Pradesh</b> And <b>Orissa</b> with ethical business practices to render customized offerings with high quality assurance.</p>
                <p>Thanks to Our Widespread Distribution and Supply Network that ensures prompt delivery of Products anywhere in India & enables us to Offer Highly Professional & Reliable Services at Competitive Prices.</p>
                <p><b>33 YEARS OF SERVICE</b></p>
                <p>Since 1983, the Company has grown into a leading Retailer, Wholesaler and Stockist of wide range of Sanitary, Fittings, Bathroom Accessories, Plumbing and Spare Parts for Construction Of Houses in India. We are successfully engaged in offering a Wide Range of Products manufactured by Leading Brands in the World under One Roof.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4"><img src="/assets/success.png" width=300 alt="Surana Success Mantra"></div>
        </div>
    </div>
</section>
<section id=products>
    <div class=container>
        <div class="row text-center header animate-in" data-anim-type=fade-in-up>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>TAKE A LOOK AT <strong>OUR PRODUCTS</strong></h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div class=row id=starts>
            <div class="col-md-12 col-sm-12 col-xs-12 work-list">
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Bathroom Faucets" href=/bathroom-fittings>
                        <div class=featured-img><img src=/assets/products/bath-fittings.jpg alt="Bathroom Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bright(Lion/BSP/Amar</span>)</div>
                        </div>
                        <h3>Bathroom Faucets</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Bathroom Accessories" href=/bathroom-accessories>
                        <div class=featured-img><img src=/assets/products/bath-accessories.jpg alt="Bath Accessories"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bright(Lion/BSP/Amar</span>)</div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bathking</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Xen</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Seiko</span></div>
                        </div>
                        <h3>Bathroom Accessories</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Sanitaryware" href=/sanitaryware>
                        <div class=featured-img><img src=/assets/products/sanitaryware.jpg alt="Sanitaryware"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Parryware</span></div>
                        </div>
                        <h3>Sanitaryware</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Water Heater" href=/water-heater>
                        <div class=featured-img><img src=/assets/products/water-heater.jpg alt="Water Heater"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                        </div>
                        <h3>Water Heater</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Kitchen Sinks" href=/kitchen-sinks>
                        <div class=featured-img><img src=/assets/products/sink.jpg alt="Kitchen Sinks"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Nirali</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jayna</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Chandini</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                        </div>
                        <h3>Kitchen Sinks</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Water Tanks" href=/water-tank>
                        <div class=featured-img><img src=/assets/products/water-tank.jpg alt="Water Tank"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sintex</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Reno</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sudhakar</span></div>
                        </div>
                        <h3>Water Tanks</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="PVC Pipes & Fittings" href=/pvc-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/pvc.jpg alt="PVC Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sudhakar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Nandi</span></div>
                        </div>
                        <h3>PVC Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="SWR Pipes & Fittings" href=/swr-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/swr.jpg alt="SWR Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sudhakar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                        </div>
                        <h3>SWR Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="PPR Pipes & Fittings" href=/ppr-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/ppr.jpg alt="PPR Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                        </div>
                        <h3>PPR Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="HDPE Pipes & Fittings" href=/hdpe-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/hdpe.jpg alt="HDPE Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Reliance</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sri Tulsi</span></div>
                        </div>
                        <h3>HDPE Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="CPVC Pipes & Fittings" href=/cpvc-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/cpvc.jpg alt="CPVC Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Ashirvad</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prince</span></div>
                        </div>
                        <h3>CPVC Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="UPVC Pipes & Fittings" href=/upvc-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/upvc.jpg alt="UPVC Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Kisan</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Astral</span></div>
                        </div>
                        <h3>UPVC Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="GI Pipes & Fittings" href=/gi-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/gi.jpg alt="G.I Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Oswal</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jindal</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">H.B</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Tata</span></div>
                        </div>
                        <h3>G.I Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Brass Ball Valve" href=/brass-valves-and-fittings>
                        <div class=featured-img><img src=/assets/products/brass-valve.jpg alt="Brass Valve"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Bright(Lion/BSP/Amar</span>)</div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Zoloto</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Peiro</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Super</span></div>
                        </div>
                        <h3>Brass Valves & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Mirrors & Cabinets" href=/mirrors-and-cabinets>
                        <div class=featured-img><img src=/assets/products/mirror.jpg alt="Mirrors & Cabinets"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Sonata</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                        </div>
                        <h3>Mirrors & Cabinets</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Bathtub" href=/bathtubs>
                        <div class=featured-img><img src=/assets/products/bathtub.jpg alt="Bathtub"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                        </div>
                        <h3>Bathtubs</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Tiles" href=/tiles>
                        <div class=featured-img><img src=/assets/products/tiles.jpg alt="Tiles"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Johnson</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">ARDEX Endura</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Laticrete</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Somany</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">NITCO</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Kajaria</span></div>
                        </div>
                        <h3>Tiles & Grout</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Shower Enclosures" href=/shower-enclosures>
                        <div class=featured-img><img src=/assets/products/shower-enclosure.jpg alt="Shower Enclosures"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                        </div>
                        <h3>Shower Enclosures</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Shower Panel" href=/shower-panels>
                        <div class=featured-img><img src=/assets/products/shower-panel.jpg alt="Shower Panel"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                        </div>
                        <h3>Shower Panel</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="PTMT Fittings & Accessories" href=/ptmt-fittings>
                        <div class=featured-img><img src=/assets/products/ptmt.jpg alt="PTMT"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Prayag</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Shakti</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Polytuf</span></div>
                        </div>
                        <h3>PTMT Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="C.I Pipes & Fittings" href=/ci-pipes-and-fittings>
                        <div class=featured-img><img src=/assets/products/ci.jpg alt="C.I Pipes & Fittings"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">P.I.C</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">SON</span></div>
                        </div>
                        <h3>C.I Pipes & Fittings</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="C.I Manhole Cover" href=/ci-manhole-covers>
                        <div class=featured-img><img src=/assets/products/manhole.jpg alt="C.I Manhole Cover"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Swastika</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Binayaka</span></div>
                        </div>
                        <h3>C.I Manhole Cover</h3></a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a title="Hand Dryer" href=/hand-dryer>
                        <div class=featured-img><img src=/assets/products/hand-dryer.jpg alt="Hand Dryer"></div>
                        <div class=image-hover itemscope itemtype="http://schema.org/Store">
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Jaquar</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Cera</span></div>
                            <div class="brand" itemprop="brand" itemscope itemtype="http://schema.org/brand"><span itemprop="name">Imported</span></div>
                        </div>
                        <h3>Hand Dryer</h3></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="container-fluid notes">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 notes-bg">
                <div class="container">
                    <div class="col-md-9 col-sm-9 col-xs-12" itemscope itemtype="http://schema.org/Store">
                        <p itemprop="description">We supply <strong>Bathtub</strong>, <strong>Sanitaryware</strong>, <strong>Bathroom Fittings</strong>, <strong>PVC|SWR|CPVC|UPVC|G.I|C.I|HDPE|PPR pipes and Fittings</strong>, <strong>Bathroom Accessories</strong>, <strong>Kitchen Fittings</strong>, <strong>Water Tanks</strong>, <strong>Pumps</strong>, <strong>Water Tubes</strong>, <strong>Faucets</strong>, <strong>Mirror Cabinets</strong> in <strong><i>Visakhapatnam</i></strong></p>
                    </div>
                    <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12"><a href=/about-us target=_blank class="btn button-custom btn-custom-one read-more">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=contact>
    <div class=container>
        <div class="row header">
            <div class="col-md-12 text-center">
                <h2>FEEL FREE TO <strong>CONTACT US</strong></h2>
                <div class=line>
                    <hr/>
                </div>
            </div>
        </div>
        <div class=row>
            <div class="col-md-6 col-sm-12 col-xs-12 contact-form">
                <form role=form id=contactForm novalidate>
                    <p>We would be glad to have feedback from you. Drop us a line, whether it is a comment, a question, a work proposition or just a hello. You can use either the form below or the contact details given below.</p>
                    <div class=form-group>
                        <input type=text class="form-control form-effect" id=name placeholder=Name>
                    </div>
                    <div class=form-group>
                        <input type=email class="form-control form-effect" id=email placeholder=Email>
                    </div>
                    <div class=form-group>
                        <input type=phone class="form-control form-effect" id=phone placeholder="Phone Number">
                    </div>
                    <div class=form-group>
                        <textarea type=textarea class="form-control form-effect" id=message placeholder=Message></textarea>
                    </div>
                    <div id=success></div>
                    <div class="g-recaptcha" id="captcha" data-sitekey="6Lf1YyQTAAAAACx8qgdU_7HkZga7g__8dxwC6C_9"></div>
                    <button type=submit id=submit class="btn btn-default btn-sub">Submit</button>
                </form>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div id=map-canvas></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" itemscope itemtype="http://schema.org/Store">
                <h4 class="classic-title"><span>Working Hours</span></h4>
                <p>
                    <meta itemprop="openingHours" content="Mo-Sa 10:00-20:30">Monday &ndash; Saturday :- 10am to 8:30pm</p>
                <p>Sunday :- Closed</p><a href="/sitemap.xml">Sitemap</a></div>
            <div class="col-md-6 col-sm-12 col-xs-12" itemscope itemtype="http://schema.org/Store">
                <h4 class="classic-title"><span>Address</span></h4>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><i class="fa fa-map-marker"></i><span itemprop="streetAddress">28-9-32</span>, <span itemprop="addressLocality">Suryabagh</span>, Opp. Port Hotel, <span itemprop="addressRegion">Visakhapatnam</span>, India-<span itemprop="postalCode">530003</span></p>
                <p><i class="fa fa-phone"></i><a itemprop="telephone" href="tel:+91-9849156450" content="+919849156450">+91-9849156450</a> | <a itemprop="telephone" href="tel:+91-7506944722" content="+917506944722">+917506944722</a></p>
                <p><i class="fa fa-envelope"></i><a href="mailto:&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;"><span itemprop="email">&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</span></a></p>
            </div>
        </div>
    </div>
</section>