<section id=category-page>
    <div class=container>
        <div class="row text-left animate-in" data-anim-type="fade-in-up">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li id="firstBreadCrumb" class="breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="<%= request.protocol + request.host_with_port %>" itemprop="url" title="Surana Sanitations">
                            <span class="tiny-text-grey" itemprop="title">Home</span>
                        </a>
                    </li>
                    <li id="lastBreadCrumb" class="breadcrumb-item">
                      <span class="tiny-text-grey"><%= @category['title'] %></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type=fade-in-up>
            <div class="hidden-xs hidden-sm col-md-4 col-lg-3 category-section">
                <h4>Categories</h4>
                <div class="categories"><a class="category" href=/shower-panels>Shower Panels</a><a class="category" href=/water-heater>Water Heater</a><a class="category" href=/sanitaryware>Sanitaryware</a><a class="category" href=/kitchen-sinks>Kitchen Sinks</a><a class="category" href=/bathtubs>Bathtubs</a><a class="category" href=/tiles>Tiles</a><a class="category" href=/brass-valves-and-fittings>Brass Valves & Fittings</a><a class="category" href=/ci-manhole-covers>C.I Manhole Covers</a><a class="category" href=/hand-dryer>Hand Dryer</a><a class="category" href=/pvc-pipes-and-fittings>PVC Pipes & Fittings</a><a class="category" href=/cpvc-pipes-and-fittings>CPVC Pipes & Fittings</a><a class="category" href=/upvc-pipes-and-fittings>UPVC Pipes & Fittings</a><a class="category" href=/gi-pipes-and-fittings>G.I Pipes & Fittings</a><a class="category" href=/ci-pipes-and-fittings>C.I Pipes & Fittings</a><a class="category" href=/swr-pipes-and-fittings>SWR Pipes & Fittings</a><a class="category" href=/hdpe-pipes-and-fittings>HPDE Pipes & Fittings</a><a class="category" href=/mirrors-and-cabinets>Mirrors & Cabinets</a><a class="category" href=/water-tank>Water Tank</a><a class="category" href=/ppr-pipes-and-fittings>PPR Pipes & Fittings</a><a class="category" href=/ptmt-fittings>PTMT Fittings</a><a class="category" href=/bathroom-fittings>Bathroom Fittings</a><a class="category" href=/bathroom-accessories>Bathroom Accessories</a></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 text-left content">
                <h1 class="text-center">Shower Enclosures</h1>
                <hr />
                <p itemprop="brand" itemscope itemtype="http://schema.org/brand"><strong><a href="/">Surana Sanitations</a></strong> is the leading <strong>Shower Enclosures Dealers</strong> in <strong>Visakhapatnam</strong>. These are sourced by us from leading and well recognized manufacturers who have with them expertise in coming up with classy, affordable as well as innovative finish. Being highly functional, these are exclusively crafted to suit individual needs of space, and style. Further, the combination of best designs and quality craftsmanship also make these Shower Enclosures superior in finish. The range we deal in under Shower Enclosures category include <a href="http://www.jaquar.com/" rel="nofollow" target="_blank" itemprop="url"><strong itemprop="name">Jaquar</strong> Shower Enclosures</a>. We majorly deal in <strong>Visakhapatnam</strong> based enquiry.</p>
                <p>Besides serving a functional purpose, bathroom is also a private space which enhances your unique lifestyle. Presenting Jaquar Shower Enclosure specifically designed to cater to the modern lifestyle offering utility with a combination of aesthetic appeal.</p>
                <p>Manufactured in accordance with stringent European norms, our wide range of framed, semi-framed & frameless shower enclosures and bathtub screens are customized and made to measure as per space requirement with accuracy and workmanship, ensuring maximum performance and durability while complementing your bathroom décor.</p>
                <p>Wide range & designs, highest quality & safety standards, easy cleaning and maintenance features make Jaquar Shower Enclosures the most preferred brand in modern bathrooms.</p>
                <p>For Shower Enclosures in Visakhapatnam contact:
                    <br><span itemprop="member"><strong>Gaurav Surana</strong>(Sales Head)</span>
                    <br><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">28-9-32</span>, <span itemprop="addressLocality">Suryabagh</span>, Opp. Port Hotel, <span itemprop="addressRegion">Visakhapatnam</span>, India-<span itemprop="postalCode">530003</span>
                    <br>Phone: <a href="tel:+91-9849156450" itemprop="telephone" content="+919849156450">+91-9849156450</a>
                    <br>Mail: <a href="mailto:&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;"><span itemprop="email">&#x73;&#x75;&#x72;&#x61;&#x6E;&#x61;&#x73;&#x61;&#x6E;&#x69;&#x74;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</span></a></span>
                </p>
            </div>
        </div>
    </div>
</section>